alabaster==0.7.12
apturl==0.5.2
asciimatics==1.10.0
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Babel==2.6.0
beckett==0.8.0
binwalk==2.1.1
blessings==1.7
blinker==1.4
boto3==1.9.148
botocore==1.12.148
bottle==0.12.16
Brlapi==0.6.6
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cliff==2.14.1
cmd2==0.9.12
colorama==0.4.1
command-not-found==0.3
configobj==5.0.6
configparser==3.7.4
console-progressbar==1.1.1
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
Django==2.2
docopt==0.6.2
docutils==0.14
fake-useragent==0.1.11
filelock==3.0.10
Flask==1.0.2
Flask-Login==0.4.1
future==0.17.1
gnupg==2.3.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
google-images-download==1.0.1
goto-statement==1.2
httplib2==0.12.1
humanfriendly==4.18
idna==2.7
imagesize==1.1.0
inflect==0.2.5
inflection==0.3.1
instabot-py==0.4.5
instaloader==4.2.1
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
louis==3.5.0
lxml==4.3.3
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==7.0.0
netifaces==0.10.4
nmap==0.0.1
numpy==1.16.3
oauth==1.0.1
oauthlib==3.0.1
olefile==0.45.1
opencv-python==4.1.0.25
ordered-set==3.1.1
packaging==19.0
pandas==0.24.2
pbr==5.2.0
pexpect==4.2.1
Pillow==6.0.0
pipreqs==0.4.9
pluggy==0.11.0
prettytable==0.7.2
property-manager==2.3.1
protobuf==3.7.1
psutil==5.6.2
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pyfiglet==0.8.post1
pyflakes==2.1.1
Pygments==2.4.0
pygobject==3.26.1
PyLaTeX==1.3.0
pylint==2.3.1
pymacaroons==0.13.0
PyNaCl==1.1.2
PyOpenGL==3.1.0
pyparsing==2.4.0
pyperclip==1.7.0
pyqtgraph==0.10.0
pyRFC3339==1.0
python-apt==1.6.3+ubuntu1
python-axolotl==0.1.42
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.8.0
python-debian==0.1.32
python-docx==0.8.10
python-nmap==0.6.1
python-secrets==19.5.1
pytz==2019.1
pyxdg==0.25
PyYAML==3.12
qrcode==6.1
Quandl==3.4.6
reportlab==3.4.0
requests==2.20.0
requests-oauthlib==1.2.0
requests-unixsocket==0.1.5
rsa==4.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
SecretStorage==2.3.1
selenium==3.141.0
simplejson==3.13.2
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
stevedore==1.30.1
system-service==0.3
systemd-python==234
termcolor==1.1.0
toml==0.10.0
tox==3.10.0
typed-ast==1.3.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.0
urllib3==1.24.2
usb-creator==0.3.3
verboselogs==1.7
virtualenv==16.5.0
wadllib==1.3.2
wcwidth==0.1.7
webwhatsapi==2.0.5
Werkzeug==0.15.2
wget==3.2
wrapt==1.11.1
xkcdpass==1.17.3
xkit==0.0.0
yamlreader==3.0.4
yarg==0.1.9
yowsup2==2.5.2
zope.interface==4.3.2
